<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dare_u.dare_u">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.dare_u.dare_u.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.dare_u.dare_u.permission.C2D_MESSAGE" />

    <!-- [END gcm_permission] -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DareU">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:label="@string/title_activity_log_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewChallengeActivity"
            android:label="@string/title_activity_new_challenge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewContactActivity"
            android:label="@string/title_activity_new_contact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactChallengeActivity"
            android:label="@string/title_activity_contact_challenge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostChallengeActivity"
            android:label="@string/title_activity_post_challenge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoRecorderActivity"
            android:label="@string/title_activity_video_recorder" />
        <activity
            android:name=".PhotoTakerActivity"
            android:label="@string/title_activity_photo_taker"
            android:screenOrientation="portrait" />

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.dare_u" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->
        <!-- [START gcm_listener] -->
        <service
            android:name="com.dare_u.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="com.dare_u.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <!-- [START registration_service] -->
        <service
            android:name="com.dare_u.gcm.RegistrationIntentService"
            android:exported="false" />
        <!-- [END registration_service] -->
    </application>

</manifest>
